@{
    ViewData["Title"] = "Movies";
}

<div class="text-center">
    <h1>Get to Know Joel</h1>
    <br />
    <a href="https://www.qwcomedy.com/">Link to Quik Wits Comedy</a><br /><br />
    <a href="https://baconsale.com/">Link to Baconsale.com</a><br /><br />
    <a href="https://baconsale.com/"><img src="~/baconsalepic.jpg" height="200" /></a>
</div>

