@{
    ViewData["Title"] = "Home Page";
}

<!--Home Page with a heading and a picture of Joel-->

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

    <img src="joelpic.jpg" height="200" />
</div>
