@{
    ViewData["Title"] = "Movies";
}

@model Application

<h1>@ViewData["Title"]</h1>

<p>Enter in a new movie</p>
<!--Form for the user to enter a new movie-->
<form method="post">
    <label asp-for="category">Category:</label><br />
    <!--Dropdown for category-->
    <select asp-for="CategoryID" name="category">
        <option value="">Select Major</option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryID">@c.CategoryName</option>
        }
    </select><br><br>

    <label asp-for="title">Title:</label><br>
    <input type="text" asp-for="title" name="title" required><br><br>

    <label asp-for="year">Year:</label><br>
    <input type="number" asp-for="year" name="year" required><br><br>

    <label asp-for="director">Director:</label><br>
    <input type="text" asp-for="director" name="director" required><br><br>

    <!--dropdown for rating-->
    <label asp-for="rating">Rating:</label><br>
    <select asp-for="rating" name="rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select><br><br>

    <label asp-for="edited">Edited:</label><br>
    <input type="checkbox" asp-for="edited" name="edited"><br><br>

    <label asp-for="lent_to">Lent To:</label><br>
    <input type="text" asp-for="lent_to" name="lent_to"><br><br>

    <label asp-for="notes">Notes (Max 25 Characters):</label><br>
    <textarea asp-for="notes" name="notes" maxlength=25></textarea><br><br>

    <button type="submit">Submit Movie</button>
</form>