@{
    ViewData["Title"] = "Movies";
}

@model Application

<h1>@ViewData["Title"]</h1>

<p>Enter in a new movie</p>
<!--Form for the user to enter a new movie-->
<form method="post">

    <input type="hidden" asp-for="MovieId" />

    <label asp-for="Category">Category:</label><br />
    <!--Dropdown for category-->
    <select asp-for="CategoryId">
        <option value="">Select Category</option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select><br><br>

    <label asp-for="Title">Title:</label><br>
    <input type="text" asp-for="Title" name="title" required><br><br>

    <label asp-for="Year">Year:</label><br>
    <input min="1888" max="2025" type="number" asp-for="Year" name="year" required><br><br>

    <label asp-for="Director">Director:</label><br>
    <input type="text" asp-for="Director" name="director"><br><br>

    <!--dropdown for rating-->
    <label asp-for="Rating">Rating:</label><br>
    <select asp-for="Rating" name="rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select><br><br>

    <label asp-for="Edited">Edited</label><br />
    <select asp-for="Edited" required>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select><br><br>

    <label asp-for="lent_to">Lent To:</label><br>
    <input type="text" asp-for="lent_to" name="lent_to"><br><br>

    <label asp-for="notes">Notes (Max 25 Characters):</label><br>
    <textarea asp-for="notes" name="notes" maxlength=25></textarea><br><br>

    <label asp-for="CopiedToPlex">Copied To Plex?</label><br />
    <select asp-for="CopiedToPlex" name="CopiedToPlex" required>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select><br><br>

    <button type="submit">Submit Movie</button>

    <div asp-validation-summary="All"></div>

</form>